XTerm*selectToClipboard: true

XTerm*faceName: Hack Nerd Font
XTerm*faceSize: 13

XTerm*background: #1e1e1e
XTerm*foreground: #dcdcdc
XTerm*cursorColor: #ffcc00
XTerm*highlightColor: #3b3b3b


XTerm*cursorBlink: true

XTerm*color0: #1e1e1e
XTerm*color1: #d16969
XTerm*color2: #608b4e
XTerm*color3: #d7ba7d
XTerm*color4: #569cd6
XTerm*color5: #c586c0
XTerm*color6: #4ec9b0
XTerm*color7: #dcdcdc
XTerm*color8: #808080
XTerm*color9: #d16969
XTerm*color10: #608b4e
XTerm*color11: #d7ba7d
XTerm*color12: #569cd6
XTerm*color13: #c586c0
XTerm*color14: #4ec9b0
XTerm*color15: #ffffff
